.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.modalClose {
  float: right;
}

.saveStatus {
  color: green;
}

.error {
  color: red;
}
